* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: lightgreen;
  margin: 0;
  font-family: sans-serif;
}
.container h1 {
  text-align: center;
  color: blueviolet;
  font-size: 2.5rem;
}
.time {
  width: 300px;
  background-color: #fff;
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span {
  font-size: 2rem;
  width: 28px;
}
.time span:nth-child(2n) {
  margin-top: -5px;
}
.btns {
  padding-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}
button {
  background-color: rgba(5, 148, 5, 0.9);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  outline: none;
}
button:hover {
  background-color: rgb(13 191 13);
}
.start.active {
  opacity: 0.5;
}
.pause.active {
  opacity: 0.5;
}

@media screen and (max-width: 600px) {
  .container h1 {
    font-size: 2rem;
  }
  .time {
    width: 250px;
    padding: 0.5rem;
  }
  .time span {
    font-size: 1.8rem;
  }
  button {
    padding: 3px 8px;
  }
}
